/* css styles */

/* Cambiar tamaño del título de la portada */
#title-slide .title {
  font-size: 1.55em;  /* ajusta el valor a tu gusto */
}

/* Cambiar tamaño del subtítulo */
#title-slide .subtitle {
  font-size: 1em;
}

/* Cambiar tamaño del nombre del autor */
#title-slide .quarto-title-author-name {
  font-size: 0.85em;
}

/* Cambiar el tamaño de los párrafos */
.reveal section p {
  font-size: 0.75em;
  line-height: 1.5;
}